@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-image: url(images/background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/*
#wrapper{
  margin-left:auto;
    margin-right:auto;
    width:1300px;
}*/

.wrapper {
  background: #ffffff00;
  position: fixed;
  width: 100%;
  margin-top: 10px;
  z-index: 1;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.content .logo a {
  color: #7B21C3;
  font-size: 49px;
  font-weight: 400;
  font-family: 'Alkaline', sans-serif;
}

.content .links li {
  list-style: none;
  line-height: 70px;
  font-family: 'Raleway', sans-serif;
}

.content .links li a,
.content .links li label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}


.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  background: #7a21c383;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #7B21C3;
  background: #ffffff;
  padding: 0 100px 0 15px;
}

.search-box input::placeholder {
  color: #7a21c386;
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #ffffff;
  border: none;
  outline: none;
  color: #7B21C3;
  font-size: 20px;
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #7a21c39f;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .content .links {
    margin-left: 30px;
  }

  .content .links li a {
    padding: 8px 13px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }

  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }

  .wrapper #show-menu:checked~.menu-icon i::before {
    content: "\f00d";
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: #7B21C3;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked~.content .links {
    left: 0%;
  }

  .content .links li {
    margin: 15px 20px;
  }

  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }

  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links #show-products:checked~ul,
  .content .links #show-campaigns:checked~ul,
  .content .links #show-about-us:checked~ul,
  .content .links #show-divine-spice:checked~ul {
    max-height: 100vh;
  }

  .content .links ul li {
    margin: 7px 20px;
  }

  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }

  .content .logo a {
    font-size: 27px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }

  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }

  .wrapper .search-box input {
    padding-right: 30px;
  }
}



/*1st PAGE*/

/*HEAD CONTENT*/

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.home-page-head-heading {
  height: 50%;
}

.home-page-head-heading-h1 {
  color: #7B21C3;
  font-family: 'Alkaline', sans-serif;
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 15px;
}


p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.4;
}

.body-art img {
  position: relative;
  bottom: -40px;
  left: 50px;
}


@media screen and (max-width: 900px) {
  body {
    background-image: url(images/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
  margin-left:auto;
    margin-right:auto;
    width: 350px;

  }

  .header-content {
    flex-wrap: wrap;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 140px;
  }

  #body-art {
    order: 1;
  }

  .body-art img {
    position: relative;
    bottom: auto;
    left: auto;
    height: 300px;
  }

  #home-page-head-heading {
    order: 2;
  }

  .home-page-head-heading {
    text-align: center;

  }

  .home-page-head-heading-h1 {
    color: #7B21C3;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 50px;
  }


  p {
    font-size: 18px;
    color: #A654DE;
    line-height: 1.4;
  }

}

/*2ND PART OF HOME PAGE*/

.card-content {
  width: 100%;
  height: 200px;
}

.text-box-card-home-page {
  justify-content: left;
  width: 100%;
  padding-left: 50px;
  position: static;
}

.home-page-h3 {
  margin-bottom: 40px;

}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  color: #000000;
  font-weight: bolder;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #A654DE;
  font-weight: 700;
}

.card-wrapper {
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  height: 400px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0px 0px 15px 2px #0000003a;
}

.card-top {
  height: 60%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background: rgb(250, 198, 255);
  background: linear-gradient(0deg, rgba(250, 198, 255, 1) 0%, rgba(238, 185, 255, 1) 4%, rgba(168, 125, 255, 1) 100%);
}

.card-top img {
  height: 290px;
  position: absolute;
  bottom: 15px;

}

.card-bottom {
  height: 40%;
  width: 100%;
  text-align: center;
}

.shampoo-title {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-top: 10px; 
}

.price-title {
  color: #9942D6;
  font-family: 'Segoe Ui', sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-top: 8px; 
  padding-bottom: 15px;
}

.shampoo-button {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color:#A77CFE ;
  border-radius: 19px;
  height: 40px;
  width: 170px;
  border: rgba(255, 255, 255, 0);
}


@media screen and (max-width: 900px){

  .card-content {
    width: 100%;
    height: 200px;
  }
  
  .text-box-card-home-page {
    justify-content: left;
    width: 100%;
    padding-left: 20px;
    position: static;
  }
  
  .home-page-h3 {
    margin-bottom: 25px;
  
  }
  
  h2 {
   
    font-size: 25px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  .card-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 1600px;
    margin-top: 50px;
  }
  



}