@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  /*background-image: url();
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
  width: 100%;
}

.wrapper {
  background: #ffffff00;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  z-index: 1;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.content .logo a {
  color: #7B21C3;
  font-size: 49px;
  font-weight: 400;
  font-family: 'Alkaline', sans-serif;
}

.content .links li {
  list-style: none;
  line-height: 70px;
  font-family: 'Raleway', sans-serif;
}

.content .links li a,
.content .links li label {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}


.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  background: #7a21c383;
}

.wrapper .search-icon,
.wrapper .menu-icon {
  color: rgb(255, 255, 255);
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.wrapper #show-search:checked~.search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #7B21C3;
  background: #ffffff;
  padding: 0 100px 0 15px;
}

.search-box input::placeholder {
  color: #7a21c386;
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #ffffff;
  border: none;
  outline: none;
  color: #7B21C3;
  font-size: 20px;
  cursor: pointer;
}

.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #7a21c39f;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }

  nav .content .links {
    margin-left: 30px;
  }

  .content .links li a {
    padding: 8px 13px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }

  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
    display: block;
  }

  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: auto;
    text-align: center;
  }

  .wrapper nav {
    margin: 0px 0px;

  }

  .wrapper #show-menu:checked~.menu-icon i::before {
    content: "\f00d";
  }

  nav .content .links {
    display: block;
    position: fixed;
    background: #7B21C3;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }

  nav #show-menu:checked~.content .links {
    left: 0%;
  }

  .content .links li {
    margin: 15px 20px;
  }

  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }

  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }

  .content .links #show-products:checked~ul,
  .content .links #show-campaigns:checked~ul,
  .content .links #show-about-us:checked~ul,
  .content .links #show-divine-spice:checked~ul {
    max-height: 100vh;
  }

  .content .links ul li {
    margin: 7px 20px;
  }

  .content .links ul li a {
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px !important;
  }

  .search-icon {
    padding-left: 80px;
  }

  .menu-icon {
    padding-right: 80px;

  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }

  .content .logo a {
    font-size: 27px;
  }

  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }

  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }

  .wrapper .search-box input {
    padding-right: 30px;
  }
}



/*1st PAGE*/

/*HEAD CONTENT*/

.header-content {
  display: flex;
  justify-content: space-around;
  height: 950px;
  width: 100%;
  z-index: -1;
  background-image: url(images/background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-head-heading {
  height: 50%;
}

.home-page-head-heading-h1 {
  color: #7B21C3;
  font-family: 'Alkaline', sans-serif;
  font-size: 100px;
  font-weight: 400;
  padding-top: 150px;
}


p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.4;
}

.body-art img {
  position: relative;
  bottom: -40px;
  left: 50px;
  padding-top: 80px;
}


@media screen and (max-width: 900px) {
  body {
    margin-left: auto;
    margin-right: auto;

  }


  .header-content {
    flex-wrap: wrap;
    display: flex;
    align-self: center;
    padding-top: 80px;
    height: 850px;
    background-image: url(images/homepage-mobile-header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #body-art {
    order: 1;
  }

  .body-art img {
    position: relative;
    bottom: auto;
    left: auto;
    height: 450px;
  }

  #home-page-head-heading {
    order: 2;
  }

  .home-page-head-heading {
    text-align: center;
    margin-top: 0px;
  }

  .home-page-head-heading-h1 {
    color: #7B21C3;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 50px;
    padding-top: 60px;
  }


  p {
    font-size: 15px;
    color: #A654DE;
    line-height: 1.4;
  }

}

@media screen and (max-width: 375px) {
  body {
    margin-left: auto;
    margin-right: auto;

  }


  .header-content {
    flex-wrap: wrap;
    display: flex;
    align-self: center;
    padding-top: 110px;
    height: 700px;
  }

  #body-art {
    order: 1;
  }

  .body-art img {
    position: relative;
    bottom: auto;
    left: auto;
    height: 330px;
  }

  #home-page-head-heading {
    order: 2;
  }

  .home-page-head-heading {
    text-align: center;
    margin-top: 0px;
  }

  .home-page-head-heading-h1 {
    color: #7B21C3;
    font-size: 60px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 50px;
  }


  p {
    font-size: 15px;
    color: #A654DE;
    line-height: 1.4;
  }

}

/*2ND PART OF HOME PAGE*/

.card-content {
  width: 100%;
  height: auto;

}

.text-box-card-home-page {
  justify-content: left;
  width: 100%;
  padding-left: 50px;
  margin-bottom: 70px;
}

.home-page-h3 {
  margin-bottom: 40px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  color: #000000;
  font-weight: bolder;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #A654DE;
  font-weight: 700;
}

.card-wrap {
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.card {
  height: 400px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0px 0px 15px 2px #0000003a;
}

.card-top {
  height: 60%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background: rgb(250, 198, 255);
  background: linear-gradient(0deg, rgba(250, 198, 255, 1) 0%, rgba(238, 185, 255, 1) 4%, rgba(168, 125, 255, 1) 100%);
}

.card-top img {
  height: 290px;
  position: absolute;
  bottom: 15px;

}

.card-bottom {
  height: 40%;
  width: 100%;
  text-align: center;
}

.shampoo-title {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-top: 10px;
}

.price-title {
  color: #9942D6;
  font-family: 'Segoe Ui', sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 15px;
}

.shampoo-button {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #A77CFE;
  border-radius: 19px;
  height: 40px;
  width: 170px;
  border: rgba(255, 255, 255, 0);
}

.shampoo-button:hover {
  color: #A77CFE;
  background-color: #fff;
  border: rgba(168, 125, 255);
  border-style: solid;
}


@media screen and (max-width: 900px) {

  .card-content {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .text-box-card-home-page {
    justify-content: left;
    width: 100%;
    padding-left: 20px;
    position: static;
    margin-bottom: 60px;
  }

  .card {
    height: 350px;
    width: 250px;

  }

  .home-page-h3 {
    margin-bottom: 25px;
    margin-top: 30px;

  }

  h2 {

    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .card-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 1400px;
  }

  .card-top img {
    height: 250px;
    position: absolute;
    bottom: 15px;

  }

  .shampoo-title {
    font-size: 20px;
    padding-top: 10px;
  }

  .price-title {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 15px;
  }

  .shampoo-button {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #A77CFE;
    border-radius: 19px;
    height: 40px;
    width: 150px;
    border: rgba(255, 255, 255, 0);
  }

  .shampoo-button:hover {
    color: #A77CFE;
    background-color: #fff;
    border: rgba(168, 125, 255);
    border-style: solid;
  }
}

@media screen and (max-width: 375px) {

  .card-content {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }

  .text-box-card-home-page {
    justify-content: left;
    width: 100%;
    padding-left: 20px;
    position: static;
    margin-bottom: 35px;
  }

  .card {
    height: 350px;
    width: 250px;

  }

  .home-page-h3 {
    margin-bottom: 25px;
    margin-top: 30px;

  }

  h2 {

    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .card-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 1300px;
  }

  .card-top img {
    height: 250px;
    position: absolute;
    bottom: 15px;

  }

  .shampoo-title {
    font-size: 20px;
    padding-top: 10px;
  }

  .price-title {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 15px;
  }

  .shampoo-button {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: #A77CFE;
    border-radius: 19px;
    height: 40px;
    width: 150px;
    border: rgba(255, 255, 255, 0);
  }

  .shampoo-button:hover {
    color: #A77CFE;
    background-color: #fff;
    border: rgba(168, 125, 255);
    border-style: solid;
  }
}


/*3RD PART OF HOME PAGE*/

.campaign-section {
  width: 100%;
  height: 1150px;
  padding-left: 100px;
  padding-top: 250px;
  flex-direction: column;
  background-image: url(images/campaign-background.png);
  background-position: top;
  background-size: cover;
}

.campaign-section h5 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 40px;
}

.campaign-section p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.campaign-button {
  color: #A77CFE;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 19px;
  height: 40px;
  width: 170px;
  border: rgba(255, 255, 255, 0);
  margin-top: 50px;
}

.campaign-button:hover {
  color: #fff;
  background-color: #a77cfe00;
  border: rgb(255, 255, 255);
  border-style: solid;
}


@media screen and (max-width: 900px) {
  .campaign-section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    height: 800px;
    background-image: url(images/mobile-campaign.png);
    background-position: top;
    background-size: cover;
    padding-top: 0px;
  }

  .campaign-section h5 {
    font-size: 25px;
    padding-top: 0px;
  }

  .campaign-section p {
    font-size: 15px;
  }

  .campaign-button {
    color: #A77CFE;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 19px;
    height: 40px;
    width: 140px;
    border: rgba(255, 255, 255, 0);
    margin-top: 30px;
  }

  .campaign-button:hover {
    color: #fff;
    background-color: #a77cfe00;
    border: rgb(255, 255, 255);
    border-style: solid;
  }

}

@media screen and (max-width: 375px) {
  .campaign-section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    height: 350px;
  }

  .campaign-section h5 {
    font-size: 25px;
    padding-top: 30px;
  }

  .campaign-section p {
    font-size: 15px;
  }

  .campaign-button {
    color: #A77CFE;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 19px;
    height: 40px;
    width: 140px;
    border: rgba(255, 255, 255, 0);
    margin-top: 30px;
  }

  .campaign-button:hover {
    color: #fff;
    background-color: #a77cfe00;
    border: rgb(255, 255, 255);
    border-style: solid;
  }

}


/*4TH PART OF HOME PAGE */

.new-edition-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: 100%;
}

.new-edition-wrapper img {
  width: 300px;
}

.new-edition-wrapper div {
  width: 400px;
  height: 300px;
  background-color: white;
  box-shadow: 0px 0px 15px 2px #0000003a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.new-edition-wrapper h5 {
  color: #A361FD;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 20px;
}


.new-edition-wrapper p {
  color: #000000;
  padding-left: 30px;
  font-size: 22px;
  padding-bottom: 25px;

}

.new-edition-button {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #A77CFE;
  border-radius: 19px;
  height: 40px;
  width: 170px;
  margin-left: 110px;
  border: rgba(255, 255, 255, 0);
}

.new-edition-button:hover {
  color: #A77CFE;
  background-color: #fff;
  border: rgba(168, 125, 255);
  border-style: solid;
}

@media screen and (max-width: 375px) {
  .new-edition-wrapper {
    flex-wrap: wrap;
    height: auto;
    padding-top: 170px;
    padding-bottom: 100px;
  }

  .new-edition-wrapper div {
    align-items: center;
    width: 280px;
    height: 180px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .new-edition-wrapper img {
    margin-bottom: 60px;
    width: 160px;
  }

  .new-edition-wrapper h5,
  .new-edition-wrapper p {
    padding-left: 0px;
    text-align: center;
  }

  .new-edition-wrapper h5 {
    font-size: 25px;
  }

  .new-edition-wrapper p {
    font-size: 15px;
  }

  .new-edition-button {
    margin-left: 0px;
  }

  .new-edition-button {
    font-size: 20px;
    height: 40px;
    width: 160px;
    margin-left: 0px;
  }
}


@media screen and (max-width: 900px) {
  .new-edition-wrapper {
    flex-wrap: wrap;
    height: auto;
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .new-edition-wrapper div {
    align-items: center;
    width: 280px;
    height: 180px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .new-edition-wrapper img {
    margin-bottom: 30px;
    width: 200px;
  }

  .new-edition-wrapper h5,
  .new-edition-wrapper p {
    padding-left: 0px;
    text-align: center;
  }

  .new-edition-wrapper h5 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .new-edition-wrapper p {
    font-size: 15px;
    padding-bottom: 5px;
  }

  .new-edition-button {
    margin-left: 0px;
  }

  .new-edition-button {
    font-size: 20px;
    height: 40px;
    width: 160px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 375px) {
  .new-edition-wrapper {
    flex-wrap: wrap;
    height: auto;
    padding-top: 170px;
    padding-bottom: 100px;
  }

  .new-edition-wrapper div {
    align-items: center;
    width: 280px;
    height: 180px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .new-edition-wrapper img {
    margin-bottom: 60px;
    width: 160px;
  }

  .new-edition-wrapper h5,
  .new-edition-wrapper p {
    padding-left: 0px;
    text-align: center;
  }

  .new-edition-wrapper h5 {
    font-size: 25px;
  }

  .new-edition-wrapper p {
    font-size: 15px;
  }

  .new-edition-button {
    margin-left: 0px;
  }

  .new-edition-button {
    font-size: 20px;
    height: 40px;
    width: 160px;
    margin-left: 0px;
  }
}

/*FOOTER*/

footer {
  background-image: url(images/footer.png);
  background-size: cover;
  background-position: top;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 350px;
}

/*footer {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}*/

.footer-logo {
  color: #7B21C3;
  font-size: 49px;
  font-weight: 400;
  font-family: 'Alkaline', sans-serif;
}

.footer-box {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-box div h5 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 30px;
}

.footer-box div p {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.social-media-footer h5 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 35px;
}

.social-media-footer img {
  height: 50px;
  padding-right: 15px;
}


@media screen and (max-width: 900px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(images/mobile-footer.png);
    padding-top: 30px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .footer-box div {
    width: 33.3%;
  }

  .footer-box .support {
    width: 25%;
  }

  .footer-box div h5 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  .footer-box div p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .social-media-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .social-media-footer h5 {
    font-size: 18px;
  }

  .social-media-footer h5 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .social-media-footer img {
    height: 30px;
    padding-right: 15px;
  }
}


@media screen and (max-width: 400px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-image: url(images/mobile-footer.png);
    padding-top: 30px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .footer-box div {
    width: 33.3%;
  }

  .footer-box .support {
    width: 25%;
  }

  .footer-box div h5 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 30px;
  }

  .footer-box div p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .social-media-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .social-media-footer h5 {
    font-size: 18px;
  }

  .social-media-footer h5 {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .social-media-footer img {
    height: 30px;
    padding-right: 15px;
  }
}


/*HAIR PAGE*/
/*BODY PAGE*/
/*DEODORANT PAGE*/

.hair-care-heading {
  width: 100%;
  height: 700px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(images/hair-page-1.png);
  background-size: cover;
}


.body-care-heading {
  width: 100%;
  height: 700px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(images/body-header.png);
  background-size: cover;
}


.deodorant-heading {
  width: 100%;
  height: 700px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(images/deodorants.png);
  background-size: cover;
}

.hair-care-heading h1,
.body-care-heading h1,
.deodorant-heading h1  {
  padding-bottom: 100px;
}

.hair-page-h3 {
  margin-bottom: 40px;
}

.card-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 150px;
  padding: 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .hair-care-heading {
    background-image: url(images/mobile-header-2.png);
    height: 500px;
    background-position: top;
  }

  .card-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 50px;
  }

  .hair-care-heading h1 {
    font-size: 50px;
  }


}

/*PRODUCT PAGE*/

/*Part 1*/

.product-header {
  background-image: url(images/product-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product-header img {
  width: 280px;
}

.product-text {
  height: 400px;
  width: 100%;
  text-align: center;
}

.product-text h1 {
  color: #7B21C3;
  padding-top: 50px;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.product-text h2 {
  color: #000000;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding-top: 30px;
}

.product-text p {
  color: #7B21C3;
  font-size: 20px;
  font-family: 'Segoe Ui', sans-serif;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 40px;
}

.product-text button {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  background-color: #A14CE0;
  border-radius: 23px;
  height: 60px;
  width: 250px;
  border: rgba(255, 255, 255, 0);
}

.product-text button:hover {
  color: #7B21C3;
  background-color: #fff;
  border: #7B21C3;
  border-style: solid;
}

/*Part2*/

.advantage-wrapper {
  height: 500px;
  width: 100%;
}

.advantage-wrapper h3 {
  color: #A14CE0;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 80px;
}

.advantage-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.advantage-boxes div {
  width: 150px;
  height: 100px;
}

.advantage-boxes img {
  width: 70px;
}

.advantage-boxes p {
  color: #A14CE0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.advantage-wrapper ul {
  list-style: none;
  padding-top: 20px;
}

.advantage-wrapper li {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding-left: 500px;
}

.advantage-wrapper li::before {
  content: "\2022";
  font-family: 'Raleway', sans-serif;
  color: #A14CE0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 30px;
}

/*Part3*/

.product-article {
  text-align: center;
  width: 100%;
  height: 300px;
}

.product-article h3 {
  color: #A14CE0;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-top: 80px;
}

.product-article p {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-top: 40px;
}

.product-article2 {
  text-align: center;
  width: 100%;
  height: 300px;
}

.product-article2 h3 {
  color: #A14CE0;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-top: 80px;
}

.product-article2 p {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-top: 40px;
}

@media screen and (max-width: 400px) {

  .product-text {
    height: 300px;

  }

  .product-header img {
    width: 180px;
  }

  .product-text h1 {
    padding-top: 50px;
    font-size: 33px;
  }

  .product-text h2 {
    font-size: 25px;
    padding-top: 30px;
  }

  .product-text p {
    font-size: 17px;
    padding-top: 40px;
    padding-bottom: 40px;
  }


  .product-text button {
    font-size: 22px;
    border-radius: 23px;
    height: 40px;
    width: 180px;

  }


  .advantage-wrapper {
    height: 400px;
    width: 90%;
  }

  .advantage-wrapper h3 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 80px;
  }

  .advantage-boxes div {
    width: 80px;
    height: 50px;
  }

  .advantage-boxes img {
    width: 40px;
  }

  .advantage-boxes p {
    font-size: 7px;
  }

  .advantage-wrapper ul {
    list-style: none;
    padding-top: 30px;
  }

  .advantage-wrapper li {
    font-size: 12px;
    padding-left: 80px;
  }

  .advantage-wrapper li::before {
    content: "\2022";
    font-family: 'Raleway', sans-serif;
    color: #A14CE0;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
  }


  .product-article {
    width: 85%;
    height: 400px;
  }

  .product-article h3 {
    font-size: 28px;
    padding-top: 20px;
  }

  .product-article p {
    font-size: 15px;
    padding-top: 40px;
  }

  .product-article2 {
    width: 85%;
    height: 250px;
  }

  .product-article2 h3 {
    font-size: 28px;
    padding-top: 20px;
  }

  .product-article2 p {
    font-size: 15px;
    padding-top: 40px;
  }
}


@media screen and (max-width: 900px) {

  .product-text {
    height: 300px;

  }

  .product-header img {
    width: 180px;
  }

  .product-text h1 {
    padding-top: 50px;
    font-size: 33px;
  }

  .product-text h2 {
    font-size: 25px;
    padding-top: 30px;
  }

  .product-text p {
    font-size: 17px;
    padding-top: 40px;
    padding-bottom: 40px;
  }


  .product-text button {
    font-size: 22px;
    border-radius: 23px;
    height: 40px;
    width: 180px;

  }


  .advantage-wrapper {
    height: 400px;
    width: 90%;
  }

  .advantage-wrapper h3 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 80px;
  }

  .advantage-boxes div {
    width: 80px;
    height: 50px;
  }

  .advantage-boxes img {
    width: 40px;
  }

  .advantage-boxes p {
    font-size: 7px;
  }

  .advantage-wrapper ul {
    list-style: none;
    padding-top: 30px;
  }

  .advantage-wrapper li {
    font-size: 12px;
    padding-left: 80px;
  }

  .advantage-wrapper li::before {
    content: "\2022";
    font-family: 'Raleway', sans-serif;
    color: #A14CE0;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 20px;
  }


  .product-article {
    width: 85%;
    height: 400px;
  }

  .product-article h3 {
    font-size: 28px;
    padding-top: 20px;
  }

  .product-article p {
    font-size: 15px;
    padding-top: 40px;
  }

  .product-article2 {
    width: 85%;
    height: 250px;
  }

  .product-article2 h3 {
    font-size: 28px;
    padding-top: 20px;
  }

  .product-article2 p {
    font-size: 15px;
    padding-top: 40px;
  }
}